<!-- <h1>Map</h1>
<button ng-click='addEvent(lat, lon)'>Add Marker</button>
<input ng-model='lat'></input>
<input ng-model='lon'></input> -->
<ui-gmap-google-map center='map.center' zoom='map.zoom' pan='false'>
		<ui-gmap-marker ng-repeat="event in events" coords="event.marker.coords" idkey="event.marker.id"></ui-gmap-marker>
		<ui-gmap-circle ng-repeat="c in events track by c.circle.id" center="c.circle.center" stroke="c.circle.stroke" fill="c.circle.fill" radius="c.circle.radius"
                visible="c.circle.visible" geodesic="c.circle.geodesic" editable="c.circle.editable" draggable="c.circle.draggable" clickable="c.circle.clickable"></ui-gmap-circle>
</ui-gmap-google-map>